p,
h1,
h2,
h3,
h4,
ul,
a {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

body.menu-open {
    overflow: hidden;
}